# Expo
.expo/
dist/
web-build/

# React Native
node_modules/
*.orig.*
jspm_packages/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Metro
.metro-health-check*

# macOS
.DS_Store
*.pem

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# Android/IntelliJ
.idea/
.gradle/
local.properties
*.iml
*.hprof
.cxx/

# Bundle artifacts
*.jsbundle

# CocoaPods
ios/Pods/

# Keys and credentials (add your sensitive files here)
# *.json (if containing credentials)
# google-services.json
